
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  outline: none;
}
li{
  list-style: none;
}
button{
  cursor: pointer;
}
body{
  color: #646669;
  width: 100%;
  height: 100vh;
  background-color: #FDFCFE;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* HEADER */
header{
  margin-top: 30px;
  width: 100%;
  height: 10vh;
}
.container80{
  width: 80%;
  height: 100%;
  margin: 0 auto;
/*   background-color: red; */
}

.containerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#formulario{
  display: flex;
  align-items: center;
  gap: 10px;
}
#formulario > #f-addTarefa{
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 3px; 
  background-color: #F6F7FB;
  border-bottom: 2px solid #DEE1F1;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600
}
#formulario > #f-addTarefa:focus{
  animation: piscar 1s ease infinite
}
#formulario > #f-addTarefa::placeholder{
  color: #B5B2B2;
}

#btn-addTarefa{
  background-color: #1493D1;
  border: none;
  height: 40px;
  padding: 0 30px;
  color: white;
  border-radius: 3px;
  border-bottom: 5px solid #1383BA;
  border-top: 5px solid #10A3EC;
  font-weight: 700
}



/* MAIN */
main{
  width: 100%;
  height: 70vh;

  /*background-color: red;*/
}
.containerMain > ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
}
.containerMain > ul > li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background-color: #F6F7F8;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  padding: 5px 10px; 
  font-weight: 700;
  transition: all .5s;
}

.containerMain > ul > li > p{
  color: #838487;
}

.containerMain > ul > li > div{
  display: flex;
  gap: 10px;
}
.containerMain > ul > li > div > button{
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 3px;
}
#btn-check{
  background-color: #1493D1;
  transition: all .3s;
}
#btn-check:hover{
  background-color: #1587BE;
}
#btn-delete{
  background-color: #D11414;
  transition: all .3s;
}
#btn-delete:hover{
  background-color: #BE1515;
}
#btn-edit{
  background-color: #e34bd1;
  transition: all .3s;
}
#btn-edit:hover{
  background-color: #d744c6;
}
i{
  color: white;
}






#containerEditBackground{
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f34;
  backdrop-filter: blur(2px);

  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  transition: all 1s;
}
.containerEdit{
  width: 450px;
  background-color: rgb(250, 250, 250);
  box-shadow: 3px 3px 5px rgb(180, 178, 178);
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.EditTitle{
  width: 100%;
}
.EditTitle > h2{
  font-size: 30px;
  color: #646669;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 7px;
}

.EditForm{
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.EditForm > input{
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 228, 228);
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 5px;
  transition: all .2s;
}
.EditForm > input::placeholder{
  color: #B5B2B2;
}

.EditForm > button{
  border: none;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
}
#f-btnSalvar{
  background-color: rgb(47, 205, 39);
  border-top: 3px solid rgb(54, 227, 54);
  border-bottom: 3px solid rgb(60, 173, 34);
  color: white;
}
#f-btnCancelar{
  background-color: rgb(205, 39, 39);
  border-top: 3px solid rgb(227, 54, 54);
  border-bottom: 3px solid rgb(173, 34, 34);
  color: white;
}
















.tarefaadd{
  padding: 20px 50px;
  background-color: #c4ffc7dc;
  color: #38ad26;
  border: 1px solid #8bdb90;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .5s;
}

.tarefaerro{
  padding: 20px 50px;
  background-color: #f8d7dadc;
  color: #84344B;
  border: 1px solid #ffa6ad;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .5s;
}

.checado{
  text-decoration: line-through;
}

#semTarefas{
  border: none;
  border-left: 5px solid #EA0B2C;
  background-color: #FFE6EA;
  padding: 20px 10px;
  border-radius: 0 50px 50px 0;
  color: #DA0A28;
}


@keyframes piscar{
  0%{
    background-color: #F5F6FA;
    border-bottom: 2px solid #DADDED;
  }
  50%{
    background-color: #F6F7FB;
    border-bottom: 2px solid #DEE1F1;
  }
  100%{
    background-color: #F5F6FA;
    border-bottom: 2px solid #DADDED;
  }
}


*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background-color: #F3F3F3;
}
*::-webkit-scrollbar-thumb {
    background-color: #1383BA;
}
